.card {
  margin: 20px;
  margin-bottom: 40px;

  width: 350px;
  height: 100px;
  /* border-radius: 10px; */
  border: 10px solid #a0522d;
  border-style: groove;
  color: white;
  background-color: #f5deb3;
  color: black;
  font-size: 12px;
  border-radius: 5px;
}

.sub_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img {
  margin-top: -45px;
  transition: transform 0.3s;
}

.img:hover {
  transform: scale(1.2);
}

.pokename {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-top: -30px;
}

.pokename p {
  padding: 15px;
  width: 100%;
  white-space: nowrap;
}

.pokename span {
  text-transform: capitalize;
}

.but {
  text-decoration: none;
  color: blue;
}

.but:hover {
  color: #fff;
}
