* {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.main-container {
  margin-top: -35px;
}

.background {
  background-image: url("../public/images/wallpaper-hd.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
