.card {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* max-whidth: 1100px; */
  /* margin: 0 auto; */
  z-index: 0;
  margin-top: 100px;
  margin-left: 50px;
  background-size: 65%;
  background-position: center center;
}

.card h1 {
  text-align: center;
}

.nameCard {
  display: flex;
  align-items: center;
}

.nameCard button {
  margin-left: -5px;
  margin-right: 10px;
  padding: 8px;
  cursor: pointer;
}

.card p {
  max-width: 500px;
  /* margin: 0 auto 1.5em; */
  text-align: center;
  margin: 10px;
  font-size: 14px;
}

.text {
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 250px;
  text-align: center;
  border: 10px solid #a0522d;
  border-style: groove;
  color: white;
  background-color: #f5deb3;
  color: black;
  font-size: 12px;
  border-radius: 5px;
}

.AboutPokemon section {
  width: 80%;
  display: flex;
  align-items: center;
  border: 10px solid #a0522d;
  border-style: groove;
  color: white;
  background-color: #f5deb3;
  color: black;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 5px;
}

.type {
  text-align: center;
  padding-left: 30px;
  margin: 10px;
  font-size: 14px;
}

.ability {
  dispaly: flex;
  text-align: center;
  padding-left: 30px;
  font-size: 14px;
  padding: 5px;
  /* color: white; */
}

.abilitys {
  width: 80%;
  display: flex;
  align-items: center;
  border: 10px solid #a0522d;
  border-style: groove;
  color: white;
  background-color: #f5deb3;
  color: black;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 5px;
}

.content h1 {
  dispaly: flex;
  color: red;
}
